*.zip
*.rar
*.dll
*.pdb
*.exe
*.bat
*.cmd
*.dll
*.class
*.code-workspace
*.pbo
*.bisign
*.bikey
inheritance_*.data
*.sqfc

statstracker/TBModExt_Statistics/.vs/
statstracker/TBModExt_Statistics/packages/
statstracker/TBModExt_Statistics/TBModExt_Statistics/bin/
statstracker/TBModExt_Statistics/TBModExt_Statistics/obj/

/#localStuff
/Changelog.txt
/builder.cfg
.vscode
.vs
#old
