*.zip
*.rar
*.dll
*.pdb
*.exe
*.bat
*.cmd
*.dll
*.class
*.code-workspace
*.pbo
*.bisign
*.bikey

/#localStuff
/Changelog.txt
/builder.cfg

statstracker/TBModExt_Statistics/.vs/
statstracker/TBModExt_Statistics/packages/
statstracker/TBModExt_Statistics/TBModExt_Statistics/bin/
statstracker/TBModExt_Statistics/TBModExt_Statistics/obj/
.vscode
.vs
